<script>
  import { prayersStore } from '../store/prayersStore';
  import { format } from 'date-fns';
  import { hijriDate } from '../helpers/func';
  import { convertToDuration, capitalise } from '../helpers/func';
  import { onDestroy } from 'svelte';
  import { countdownStyle, barStyle, barBgStyle } from '../config/theme';

  let duration;
  let name;
  let percentage;

  const unsubscribePrayers = prayersStore.subscribe(value => {
    duration = convertToDuration(value.countDown.duration);
    name = capitalise(value.countDown.name);
    percentage = value.percentage;
  });

  onDestroy(unsubscribePrayers);
</script>

<style>
  #countdown {
    position: relative;
    /* height: 100%; */
    /* height: 10%; */
    /* height: 20vh; */
    font-size: 2vh;

    padding: 1vh 0;
    border-top: 0.15vh solid rgba(255, 255, 255, 0.5);

    /* background: rgba(255, 255, 255, 0.25); */
    /* border-top: 2px solid rgba(0, 0, 0, 0.25); */
  }
  .info {
    display: flex;
    flex-direction: row;
    padding-bottom: 1vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .spacer {
    width: 1rem;
  }
  #barbg {
    width: 100%;
    position: absolute;
    bottom: 0;

    display: block;
    height: 1vh;
    background: rgba(0, 0, 0, 0.1);
  }
  #bar {
    position: absolute;
    display: block;
    bottom: 0;
    height: 1vh;
    background: rgba(0, 0, 0, 0.1);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.25); */
  }
</style>

<section id="countdown" style={countdownStyle}>
  <div class="info">
    <div>{name}</div>
    <div class="spacer" />
    <div>{duration}</div>
  </div>
  <section id="barbg" style={barBgStyle} />
  <section id="bar" style={`width:${percentage}%;${barStyle}`} />
  <!-- <div>{hours}:{minutes}:{seconds}</div> -->
</section>
